html {
  box-sizing: border-box;
  font-family: "Roboto, Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-height: 500px;
  max-width: 45em;
  position: absolute;
  top: 50%;
  transform: translateX(-50%, -50%);
  width: 100%;
}

.banner-image {
  padding: 1.2rem;
  width: 400px;
}

.banner-text {
  text-align: left;
  padding: 1.5rem;
}

.banner-text h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: .2em;
  margin-top: 0;
}

.banner-text p {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1em;
}

.btn {
  background-color: #313131;
  border: 3px solid #313131;
  border-radius: 10px;
  padding: .9rem 1rem;
}

.btn:hover {
  background-color: #000;
  border: 3px solid #000;
}

.btn-big {
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: lighter;
  text-decoration: none;
}
