html {
  box-sizing: border-box;
  font-family: "Roboto, Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  align-items: center;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-width: 45em;
  position: absolute;
  transform: translateX(-50%);
}

.banner-image img {
  padding-right: 2rem;
}

.banner-text h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
}

.banner-text p {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 2rem;
}

.btn {
  background-color: #333;
  border-radius: .4rem;
  padding: 1rem;
}

.btn:hover {
  background-color: #000;
}

.btn-big {
  color: #fff;
  font-size: 1.3rem;
  font-weight: lighter;
  text-decoration: none;
}
